root = true

# All files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
max_line_length = 140
trim_trailing_whitespace = true

[*.js]
indent_size = 2

[*.json]
indent_size = 2

[*.csproj]
indent_size = 2

[*.cs]
indent_size = 4

dotnet_sort_system_directives_first = true

# Namespaces should match folder structure
dotnet_style_namespace_match_folder = true

# Namespaces should be file scoped
csharp_style_namespace_declarations = file_scoped

# Brace settings
csharp_prefer_braces = true

# dotnet

# this. preferences
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion

# Language keywords vs BCL types preferences
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion

## Name constants using SCREAMING_SNAKE_CASE
dotnet_naming_rule.constant_fields_should_be_screaming_snake_case.severity = suggestion
dotnet_naming_rule.constant_fields_should_be_screaming_snake_case.symbols  = constant_fields
dotnet_naming_rule.constant_fields_should_be_screaming_snake_case.style    = screaming_snake_case
dotnet_naming_symbols.constant_fields.applicable_kinds                     = field
dotnet_naming_symbols.constant_fields.required_modifiers                   = const
dotnet_naming_style.screaming_snake_case.capitalization                    = all_upper
dotnet_naming_style.screaming_snake_case.word_separator                    = _

## Name private and internal fields using _camelCase
dotnet_naming_rule.private_internal_fields_be_camel_case.severity          = warning
dotnet_naming_rule.private_internal_fields_be_camel_case.symbols           = private_internal_fields
dotnet_naming_rule.private_internal_fields_be_camel_case.style             = underscore_camel_case
dotnet_naming_symbols.private_internal_fields.applicable_kinds             = field
dotnet_naming_symbols.private_internal_fields.applicable_accessibilities   = private, internal
dotnet_naming_style.underscore_camel_case.required_prifex                  = _
dotnet_naming_style.underscore_camel_case.capitalization                   = camel_case

[*.cs]

## IDE0005: Unnecessary usings should be removed
dotnet_diagnostic.IDE0005.severity = warning

## IDE0130: Namespaces should match folder structure
dotnet_diagnostic.IDE0130.severity = warning

## IDE0161: Namespaces should be file scoped
dotnet_diagnostic.IDE0161.severity = warning

# Roslynator
## RCS1090: Add/remove 'ConfigureAwait(false)' call
dotnet_diagnostic.RCS1090.severity = warning

# Public API
dotnet_public_api_analyzer.require_api_files = true
dotnet_diagnostic.RS0041.severity = warning

# Roslynator configuration
roslynator_arrow_token_new_line = after
roslynator_configure_await = true
roslynator_empty_string_style = field
roslynator_trailing_comma_style = include
roslynator_object_creation_type_style = implicit
roslynator_null_check_style = pattern_matching
roslynator_use_collection_expression = true
roslynator_use_var_instead_of_implicit_object_creation = false
roslynator_use_var = when_type_is_obvious
roslynator_infinite_loop_style = while

# Set severity for all analyzers that are enabled by default (https://docs.microsoft.com/en-us/visualstudio/code-quality/use-roslyn-analyzers?view=vs-2022#set-rule-severity-of-multiple-analyzer-rules-at-once-in-an-editorconfig-file)
dotnet_analyzer_diagnostic.category-roslynator.severity = warning

# Enable/disable all analyzers by default
# NOTE: This option can be used only in .roslynatorconfig file
roslynator_analyzers.enabled_by_default = true

# Enable/disable all refactorings
roslynator_refactorings.enabled = true

# Enable/disable all compiler diagnostic fixes
roslynator_compiler_diagnostic_fixes.enabled = true

# Add blank line between declarations
dotnet_diagnostic.rcs0010.severity = warning

# Fix formatting of a list
dotnet_diagnostic.rcs0053.severity = warning

# Fix formatting of a call chain
dotnet_diagnostic.rcs0054.severity = warning

# Fix formatting of a binary expression chain
dotnet_diagnostic.rcs0055.severity = warning

# A line is too long
dotnet_diagnostic.rcs0056.severity = warning

# Add/remove line after file scoped namespace declaration
dotnet_diagnostic.rcs0060.severity = warning

# Put expression body on its own line
dotnet_diagnostic.rcs0062.severity = warning

# Remove unnecessary blank line
dotnet_diagnostic.rcs0063.severity = warning

# Simplify nested using statement
dotnet_diagnostic.rcs1005.severity = warning

# Merge 'else' with nested 'if'
dotnet_diagnostic.rcs1006.severity = warning

# Add braces
dotnet_diagnostic.rcs1007.severity = warning

# Order modifiers
dotnet_diagnostic.rcs1019.severity = warning

# Asynchronous method name should end with 'Async'
dotnet_diagnostic.rcs1046.severity = warning

# Unnecessary semicolon at the end of declaration
dotnet_diagnostic.rcs1055.severity = warning

# Declare each type in separate file
dotnet_diagnostic.rcs1060.severity = warning

# Merge 'if' with nested 'if'
dotnet_diagnostic.rcs1061.severity = warning

# Use 'Count/Length' property instead of 'Any' method
dotnet_diagnostic.rcs1080.severity = warning

#	Use "" or 'string.Empty'
dotnet_diagnostic.rcs1078.severity = warning

# Add/remove 'ConfigureAwait(false)' call
dotnet_diagnostic.rcs1090.severity = warning

# Make parameter ref read-only
dotnet_diagnostic.rcs1231.severity = warning

# Add braces to if-else
dotnet_diagnostic.rcs1126.severity = warning

# Remove redundant async/await
dotnet_diagnostic.rcs1174.severity = warning

# Convert comment to documentation comment
dotnet_diagnostic.rcs1181.severity = none

# Avoid unnecessary boxing of value type
dotnet_diagnostic.rcs1198.severity = warning

# Reduce 'if' nesting
dotnet_diagnostic.rcs1208.severity = warning

# Make class sealed
dotnet_diagnostic.rcs1225.severity = warning

# Avoid nested ?: operators
dotnet_diagnostic.rcs1238.severity = warning

# Asynchronous method name should end with 'Async'
dotnet_diagnostic.rcs1246.severity = warning

# Normalize null check
dotnet_diagnostic.rcs1248.severity = warning

#	Use implicit/explicit object creation
dotnet_diagnostic.rcs1250.severity = warning

# Normalize usage of infinite loop
dotnet_diagnostic.rcs1252.severity = warning

# Simplify argument null check
dotnet_diagnostic.rcs1255.severity = warning

# Add/remove trailing comma
dotnet_diagnostic.rcs1260.severity = warning

# Use 'var' or explicit type
dotnet_diagnostic.rcs1264.severity = warning

# Use pattern matching
dotnet_diagnostic.rcs9001.severity = warning

# Verify settings
[*.{received,verified}.{json,txt,xml}]
charset = "utf-8-bom"
end_of_line = lf
indent_size = unset
indent_style = unset
insert_final_newline = false
tab_width = unset
trim_trailing_whitespace = false
