*~
*.swp
*.swo
.\#*
\#*\#

result-*
result

tags

.cache/
.direnv/

.idea/
.vscode/

node_modules/

bin/
obj/

*.suo
*.user


logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
**/.vscode/*
**/.vs/*
**/!.vscode/extensions.json
**/.idea