{
  "$schema": "appsettings-schema.json",
  "Umbraco": {
    "Compose": {
      "ClientId": "",
      "ClientSecret": "",
      "EnvironmentAlias": "",
      "ProjectAlias": "",
      "Ingestion": {
        "CollectionAlias": ""
      }
    }
  }
}
